/* image for user */
.img-circle {
  width: 140px;
  height: 140px;
  margin: 5px;
  border-radius: 50%;
  vertical-align: middle;
  border: 0;
}

/*label {
  float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  font-weight:bold;
}*/

.input-title {
  font-size: 15px;
}

.name-product {
  text-align: center;
  font-weight: bold;
  color: #FFA17F;
}

.center {
  text-align: center;
}

/* Set hover and active link */
a:hover, a:active, a:focus, a:visited {
  text-decoration: none;
}

/* Set button to 100% */
.btn-width-100 {
	width: 100%;
}


.right {
  text-align: right;
}

.tags-area {
  color: #87a6bc;
  padding: 10px;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
}

p.prompt-tags {
  margin-bottom: .5em;
}

.select-tags {
  border-color: #c8d7e1;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px 1px 2px;
  color: #2e4453;
  cursor: pointer;
  margin: 0;
  outline: 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  text-overflow: ellipsis;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 7px 32px 9px 14px;
}

.div-tags {
  color: #87a6bc;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid gray;
  font: medium -moz-fixed;
  font: -webkit-small-control;
  height: 28px;
  overflow: auto;
  padding: 2px;
  resize: both;
  width: 400px;
}
